#Profile {
    text-align: center;
    align-content: flex-start;
    margin-top: 3px;
    padding: 5%;
}

#img {
    border-radius: 8%;
}

.slide {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;

}

#profileContent {
    padding: 5%;
}

.alerText {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

.form {
    margin-top: 15%;
    margin-left: 30%;
    margin-right: 30%;

}